services:
  db:
    container_name: postgres
    image: postgres:latest
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db_data:/data/postgres

  redis:
    container_name: redis
    image: redis:latest
    restart: unless-stopped
    ports:
      - '6379:6379'

volumes:
  db_data:
