services:
  db:
    name: db
    image: postgres:latest
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    name: redis
    image: redis:latest
    restart: unless-stopped
    ports:
      - '6379:6379'

volumes:
  db_data:
